#sc {
    justify-content: center;
    text-align: center;
}
#pc {
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}
#strimg {
  width: 85%;
}

#a {
    color: blue !important;
    font-weight: bold !important;
}

